---
// const { title, description, image } = Astro.props;
let title = "Matterholt Made";
let description =
  "Front end developer that build ditital products with react.js";
// let canonicalURL = Astro.request.canonicalURL;
import "@styles/global.css";
---

<head>
 <meta charset="utf-8" />
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
    rel="stylesheet"
  />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />

  <!-- Sitemap -->
  <link rel="sitemap" href="/sitemap.xml" />
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" href="/feed/posts.xml" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <!-- SEO -->
  <!-- <link rel="canonical" href={canonicalURL} />
{next && <link rel="next" aria-label="Previous Page" href={new URL(next, canonicalURL).href}>}
{prev && <link rel="prev" aria-label="Next Page" href={new URL(prev, canonicalURL).href}>} -->

  <!-- OpenGraph -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />

  <!-- Twitter -->
  <!-- <meta
      name="twitter:card"
      content={image ? "summary_large_image" : "summary"}
    />
    <meta name="twitter:site" content="@astro" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} /> -->
</head>
