---
import * as data from "../../utils/writeUps/jobHistory/index.json";

import SectionTitleDecor from "../SectionTitleDecor.astro";
import SectionContainer from "../SectionContainer.astro";

import JobPostions from "../blocks/JobPostions.astro";

const {
  AutomotiveValidationEngineering,
  AutomotiveDesignEngineering,
  MenuApplicationDeveloper,
} = data;
---

<SectionContainer parentColor="bgLight">
  <h2
    class="text-center text-6xl bold uppercase customFont-Anton customBorderBottom"
  >
    Professional history
  </h2>

  <JobPostions
    title={MenuApplicationDeveloper?.title}
    description={MenuApplicationDeveloper?.description}
    positions={MenuApplicationDeveloper?.positions}
  />

  <JobPostions
    title={AutomotiveDesignEngineering?.title}
    description={AutomotiveDesignEngineering?.description}
    positions={AutomotiveDesignEngineering?.positions}
  />

  <JobPostions
    title={AutomotiveValidationEngineering?.title}
    description={AutomotiveValidationEngineering?.description}
    positions={AutomotiveValidationEngineering?.positions}
  />
</SectionContainer>
