---
import { DateIt } from "@components/blocks";
import { Text, Alink } from "@components/lib_comps/index";

const { postFrontMatter } = Astro.props;

const titleLink = postFrontMatter?.data?.title.split(" ").join("-");

const latestPostDate = postFrontMatter?.data?.pubDate;
const [year, month, date] = [
  latestPostDate.getFullYear(),
  latestPostDate.getMonth() + 1,
  latestPostDate.getDate(),
];

const introPara = postFrontMatter.body.split(/\r?\n/).filter((x) => x !== "");
---

<div class="writeup_summary">
  <DateIt date={`${year}-${month}-${date}`} />

  <div class="postIntro_header">
    <Text tag="h4" class="title_placement">
      {postFrontMatter?.data?.title}
    </Text>
  </div>

  <Text tag="p" class="content_placement">{introPara[1]}</Text>
  <div class="postIntro_link link_placement">
    <Alink varient="base" link={`/posts/${titleLink}/`}>contiue...</Alink>
  </div>
</div>

<style>
  .writeup_summary {
    display: grid;
    gap: 20px;
    grid-template-columns: 80px 70%;
    grid-template-rows: 50px 1fr 25px;
  }
  .postIntro_header {
    display: flex;
    justify-content: space-between;
  }
  .postIntro_link {
    display: flex;
    justify-content: flex-end;
  }
  .title_placement {
    grid-column: 2;
    grid-row: 1;
  }
  .content_placement {
    grid-column: 2;
    grid-row: 2;
  }
  .link_placement {
    grid-column: 2;
    grid-row: 3;
  }
</style>
