---
interface Props {
  varient?: string;
  postFrontMatter: any[];
}
import { DateIt } from "@components/blocks";
import { Text, Alink,BentoBox } from "@components/lib_comps/index";

const { postFrontMatter, varient = "full" } = Astro.props;

const titleLink = postFrontMatter?.data?.title.split(" ").join("-");

const latestPostDate = postFrontMatter?.data?.pubDate;
const [year, month, date] = [
  latestPostDate.getFullYear(),
  latestPostDate.getMonth() + 1,
  latestPostDate.getDate(),
];

const [introhead, introContent, ...r] = postFrontMatter.body
  .split(/\r?\n/)
  .filter((x) => x !== "");
---

<div class:list={[varient, "writeup_summary"]}>
  {
    varient !== "simple" ? (
      <DateIt class="dateit_placement" date={`${year}-${month}-${date}`} />
    ) : (
      <Text tag="p">{`${year}-${month}-${date}`} </Text>
    )
  }
  <div class="postIntro_header">
    <Text tag="h4" class="title_placement">
      {postFrontMatter?.data?.title}
    </Text>
  </div>

  {
    varient !== "simple" ? (
      <BentoBox class="content_placement">
      <Text tag="p" >
        {introContent}
      </Text>
    </BentoBox>
    ) : (
      ""
    )
  }
  <div class="postIntro_link link_placement">
    <Alink varient="base" link={`/posts/${titleLink}/`}>continue...</Alink>
  </div>
</div>

<style>
  .writeup_summary {
    grid-template-columns: 100px 66% 25px;
    grid-template-areas: "date title ." ". . continue";
  }
  .full {
    display: grid;
    margin: 15px 0px;
    grid-template-columns: 80px 1fr;
    gap: 15px;
    grid-template-areas:
      "title title"
      "date writeup_content"
      " .  continue";
  }
  .simple {
    display: grid;
  }
  .postIntro_header {
    display: flex;
    justify-content: space-between;
    place-self: center;
    height: 80%;
    grid-area: title;
  }
  .postIntro_link {
    display: flex;
    justify-content: flex-end;
  }
  .dateit_placement {
    grid-area: date;
  }
  .title_placement {
    grid-area: title;
    font-size: 30px;
  }
  .content_placement {
    grid-area: writeup_content;
    padding-top:2.5%;
  }
  .link_placement {
    grid-area: continue;
  }
  @media (max-width: 640px) { 
    .full {
    display: grid;
    grid-template-columns: 80px 70%;
    justify-content: center;
    gap: 5px;
    grid-template-areas:
      "date title"
      "writeup_content writeup_content"
      "continue continue";
  }

  }
</style>
