---
import { getCollection } from "astro:content";
import { properOrder } from "@utils/helpers";
import { Text } from "@components/lib_comps/index";
import { SectionContainer } from "@components/blocks";

import Card from "./components/card/Card.astro";

const ourPublishedWork = await getCollection("about", ({ data }) => {
  return data.isPublish === true;
});

const inOrder = ourPublishedWork.sort(properOrder);

function sortThingsOut(notes) {
  const rightside = notes.filter((x) => x.data.order % 2 === 1);
  const leftSide = notes.filter((x) => x.data.order % 2 === 0);
  return { rightside, leftSide };
}

// loop through and then
const { rightside, leftSide } = sortThingsOut(inOrder);

function columnSort(entryNumb) {
  return entryNumb % 2 ? "card_columns-right" : "card_columns-left";
}
const sectionMarginTop = 0;
---

<SectionContainer
  varient="noBackground"
  sectionMarginTop={0}
  class:list={["temp_bg", "card_collections"]}
  varient="full"
>
  <Text tag="h2" class="about_card_header">
    Bit more <br /><span class="about_card_header-shiftRight">about me</span>
  </Text>
  <div class="card_columns-left">
    {
      leftSide.map((entry) => (
        <Card asignChar={entry.data.largeLetter}>
          <Text tag="h2" name="role_title">
            {entry.data.title}
          </Text>
          <Text tag="p">{entry.body}</Text>
        </Card>
      ))
    }
  </div>
  <div class="card_columns-right">
    {
      rightside.map((entry) => (
        <Card asignChar={entry.data.largeLetter}>
          <Text tag="h2">{entry.data.title}</Text>
          <Text tag="p">{entry.body}</Text>
        </Card>
      ))
    }
  </div>
</SectionContainer>

<style>
  .temp_bg {
    background-color: none;
    color: var(--main_white);
    padding: 10px;
  }
  .about_card_header {
    justify-self: center;
    font-size: 60px;
    letter-spacing: 4px;
    line-height: 1.2;
  }

  .card_collections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas:
      "title right_column"
      "left_column right_column";
  }
  .card_columns-right {
    grid-area: right_column;
    margin-top: 40px;
  }
  .card_columns-left {
    grid-area: left_column;
  }
  .about_card_header-shiftRight {
    margin-left: 60px;
  }
</style>
