---
import { getCollection } from "astro:content";

import { dateDisplay } from "@utils/date_actions";

import Base from "@layouts/Base.astro";

import Text from "@components/base/text/Text.astro";
import ArticleLink from "@components/custom/ArticleLink.astro";
import TagList from "@components/custom/TagList.astro";

import { articlePublish, firstParagraph } from "@utils/article_actions";

const allPosts = (
  await getCollection("articles", ({ data }) => articlePublish(data))
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<Base title="Articles">
  <div class="mainContent" slot="mainContent">
    <div>
      <TagList />
    </div>
    <div id="articleContent" class="articleContent_listing">
      {
        allPosts.map((post: any) => (
          <div id={post.data.slug.split("-").join("_")} class="postBlock">
            <div class="postBlock_header">
              <Text tag="h3">{post.data.title}</Text>
              <Text tag="p">{dateDisplay(post.data.publishDate)}</Text>
              <TagList tags={post.data.tags} />
            </div>
            <Text tag="p">
              {firstParagraph(post.body)}{" "}
              <ArticleLink linkTo={`articles/${post.data.slug}`} />
            </Text>
          </div>
        ))
      }
    </div>
  </div>
</Base>

<style>
  .mainContent {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .articleContent_listing {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .postBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .postBlock_header {
    display: grid;
    grid-template-rows: max-content 50px;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
</style>
