---
import { getCollection } from "astro:content";
import { dateDisplay } from "@utils/dateActions";
import Base from "@layouts/Base.astro";
import Text from "@components/base/text/Text.astro";
import TagList from "@components/base/tagList/TagList.astro";
import TagSelection from "@components/custom/TagSelection.astro";
import {
  articlePublish,
  firstParagraph,
  collectAllTags,
} from "@utils/article_actions";

const allPosts = (
  await getCollection("articles", ({ data }) => articlePublish(data))
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());

function articleTags(article) {
  return article.data.tags;
}

const tagCollection = await collectAllTags(allPosts);
---

<Base title="Articles" activePage="Articles">
  <div class="mainContent" slot="mainContent">
    <TagSelection allTags={tagCollection} />
    {
      allPosts.map((post: any) => (
        <div class="postBlock">
          <div class="postBlock_header">
            <Text tag="h3">{post.data.title}</Text>
            <Text tag="p">{dateDisplay(post.data.publishDate)}</Text>
            <TagList tags={articleTags(post)} />
          </div>
          <Text tag="p">
            {firstParagraph(post.body)}{" "}
            <a href={`articles/${post.data.slug}`}>Contiue...</a>
          </Text>
        </div>
      ))
    }
  </div>
</Base>

<style>
  .mainContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .postBlock {
    display: flex;
    flex-direction: column;
  }
  .postBlock_header {
    display: grid;
    align-items: end;
    justify-content: space-between;
  }
</style>
