---
import { getCollection } from "astro:content";
import { dateDisplay } from "@utils/dateActions";

import Base from "@layouts/Base.astro";
import Text from "@components/base/text/Text.astro";
import TagSelection from "@components/custom/TagSelection.astro";
import ArticleLink from "@components/custom/ArticleLink.astro";

import {
  articlePublish,
  firstParagraph,
  collectAllTags,
} from "@utils/article_actions";

const allPosts = (
  await getCollection("articles", ({ data }) => articlePublish(data))
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());

const tagCollection = collectAllTags(allPosts);
---

<Base title="Articles" activePage="Articles">
  <div class="mainContent" slot="mainContent">
    <TagSelection allTags={tagCollection} />
    <div class="articleContent_listing">
      {
        allPosts.map((post: any) => (
          <div class="postBlock">
            <div class="postBlock_header">
              <Text tag="h3">{post.data.title}</Text>
              <Text tag="p">{dateDisplay(post.data.publishDate)}</Text>
            </div>
            <Text tag="p">
              {firstParagraph(post.body)}{" "}
              <ArticleLink linkTo={`articles/${post.data.slug}`} />
            </Text>
          </div>
        ))
      }
    </div>
  </div>
</Base>

<style>
  .mainContent {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .articleContent_listing {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .postBlock {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .postBlock_header {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
</style>
