---
import SubTitle from "./SubTitle.astro";
import MountianBullet from "./MountianBullet.astro";
import InitialsIcon from "../blocks/InitialsIcon.astro";

const { title, description, positions } = Astro.props;
---

<div class="mx-2 mt-12 mb-6">
  <SubTitle content={title} />
  <p>{description}</p>
</div>

<ul class="flex flex-col">
  {
    positions.map((job) => {
      return (
        <li class=" m-1 p-2 ">
          <h4 class="font-medium text-2xl mb-2 leading-5 ">
            {job.jobTitle}
            <br /> <span>{job.workingDate}</span>
          </h4>
          <ul>
            {job.jobResponsibilities.map((item) => (
              <li class="md:py-2 flex items-center">
                {" "}
                <InitialsIcon size="25px" borderWidth="1.5px" /> {item}
              </li>
            ))}
          </ul>
        </li>
      );
    })
  }
</ul>
<style>
  span {
    font-size: 10px;
    width: 100%;
  }
</style>
