---
import { Text } from "@components/lib_comps/index";
import InitialsIcon from "../blocks/InitialsIcon.astro";

const { title, description, positions } = Astro.props;
---

<div class="mx-2 mt-12 mb-6">
  <Text tag="h3">{title}</Text>
  <Text>{description}</Text>
</div>

{
  positions ? (
    <ul class="flex flex-col">
      {positions.map((job) => {
        return (
          <li class=" m-1 p-2 ">
            <div class="job_postion-heading">
              <Text tag="h4">{job.jobTitle}</Text>
              <Text tag="p">{job.workingDate}</Text>
            </div>
            <ul>
              {job.jobResponsibilities.map((item) => (
                <li class="md:py-2 flex items-center">
                  {" "}
                  <InitialsIcon size="25px" borderWidth="1.5px" /> {item}
                </li>
              ))}
            </ul>
          </li>
        );
      })}
    </ul>
  ) : null
}
<style>
  .job_postion-heading {
    display: flex;
    justify-text: space-between;
  }
</style>
