---
import { Content } from "@components/lib_comps";
import InitialsIcon from "../blocks/InitialsIcon.astro";

const { title, description, positions } = Astro.props;
---

<div class="mx-2 mt-12 mb-6">
  <Content elementTag="h3">{title}</Content>
  <Content>{description}</Content>
</div>

<ul class="flex flex-col">
  {
    positions.map((job) => {
      return (
        <li class=" m-1 p-2 ">
          <div class="job_postion-heading">
            <Content elementTag="h4">{job.jobTitle}</Content>
            <Content>{job.workingDate}</Content>
          </div>
          <ul>
            {job.jobResponsibilities.map((item) => (
              <li class="md:py-2 flex items-center">
                {" "}
                <InitialsIcon size="25px" borderWidth="1.5px" /> {item}
              </li>
            ))}
          </ul>
        </li>
      );
    })
  }
</ul>
<style>
  .job_postion-heading {
    display: flex;
    justify-content: space-between;
  }
</style>
