---
import Main from "@layouts/html/Main.astro";
import BlogMain from "@layouts/sections/BlogMain.astro";
import PostListingLink from "@components/site_writeup/PostListingLink.astro";
import {
  writeUpPostListings,
  sortDates,
} from "@utils/helpers/blog_dates/index";

const currentYearsPost = await Astro.glob("../pages/posts/2023/*.md");
let currentYearsPost_sorted = sortDates(currentYearsPost);
const previousYearsPost = await Astro.glob("../pages/posts/!(2023)/*.md");

const latestPost = currentYearsPost[0];

// TODO, sort post, clean data up
---

<Main pageId="writeups">
  <BlogMain>
    <section>
      <h3>Latest Published</h3>

      <PostListingLink url={latestPost.url} postGlob={latestPost.frontmatter} />
    </section>

    <section>
      <h3>most current</h3>
      <ul>
        {
          currentYearsPost_sorted.map((post) => (
            <li>
              <PostListingLink url={post.url} postGlob={post.frontmatter} />
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <h3>Previous Year</h3>
      <ul>
        {
          previousYearsPost.map((post) => (
            <li>
              <PostListingLink url={post.url} postGlob={post.frontmatter} />
            </li>
          ))
        }
      </ul>
    </section>
  </BlogMain>
</Main>

<style>
  section {
    margin-bottom: 100px;
  }
  h3 {
    font-weight: 900;
    font-size: 30px;
  }

  ul {
    margin-bottom: 50px;
  }
  li {
    margin: 15px 0px;
  }
</style>
<script></script>
