---
import Main from "@layouts/html/Main.astro";
import BlogMain from "@layouts/sections/BlogMain.astro";
import {
  writeUpPostListings,
  sortDates,
} from "@utils/helpers/blog_dates/index";

import { getCollection } from "astro:content";
// const currentYear = await getCollection("writeups", ({ data }) => {
//   return data.pubDate.getFullYear() === 2023;
// });
// let currentYear_sorted = sortDates(currentYear);

// console.log(currentYear);

// const previous_years = await getCollection("writeups", ({ data }) => {
//   return data.pubDate.getFullYear() !== 2023;
// });
// let previousYears_sorted = sortDates(previous_years);

const currentYearsPost = await Astro.glob("../pages/posts/2023/*.md");
let currentYearsPost_sorted = sortDates(currentYearsPost);
const previousYearsPost = await Astro.glob("../pages/posts/!(2023)/*.md");

const latestPost = currentYearsPost[0];
console.log(latestPost.frontmatter);
---

<Main pageId="writeups">
  <BlogMain>
    <h3>Latest Published</h3>
    <ul>
      {latestPost.frontmatter.title}
      {latestPost.frontmatter.pubDate}
      {latestPost.url}
    </ul>
  </BlogMain>

  <h3>most current</h3>
  <ul>
    {
      currentYearsPost_sorted.map((post) => (
        <li>
          {JSON.stringify(post)}
          {post.frontmatter.pubDate}
        </li>
      ))
    }
  </ul>
  <ul></ul>
  <h3>Previous Year</h3>
  <ul>
    {previousYearsPost.map((post) => <li>{JSON.stringify(post)}</li>)}
  </ul>
</Main>

<style>
  h3 {
    font-weight: 900;
    font-size: 30px;
  }
  ul {
    margin-bottom: 50px;
  }
  li {
    outline: solid;
    margin: 20px;
  }
</style>
<script></script>
