---
import Text from "../base/text/Text.astro";
const { job } = Astro.props;
const { data, body } = job;
---

<div>
  <Text>{data.workingDate}</Text>
  <Text>{data.jobTitle}</Text>
  <Text>{data.location}</Text>
  <Text>{data.employer}</Text>
  <Text>{data.type}</Text>

  <div>
    {body}
  </div>
</div>
