---
import { getCollection } from "astro:content";

import Base from "../layouts/Base.astro";
import Text from "../components/base/text/Text.astro";

const allPosts = Object.values(
  import.meta.glob("../content/articles/*.md", { eager: true }),
);
console.log(allPosts);

const allArticles = await getCollection("articles");
---

<Base title="Articles" activePage="Articles">
  <div slot="mainContent">
    {
      allArticles.map((article) => (
        <li>
          <Text tag="h3">{article.data.title}</Text>
          <Text tag="p">
            {article.data.publishDate.toString().slice(0, 10)}
          </Text>

          <a href="link">more</a>
        </li>
      ))
    }
    <h1>testing below</h1>
    {
      allPosts.map((post: any) => (
        <li>
          <p>slug: {post.frontmatter.slug}</p>
          <p>url:{post.url}</p>
          <h1>title: {post.frontmatter.title}</h1>
          <p>{post.frontmatter.publishDate}</p>
        </li>
      ))
    }
  </div>
</Base>

<style>
  li {
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 1fr 1fr;
  }
</style>
